{% extends 'layout.html' %}

{%block title%}
Formulario create article
{%endblock%}

{%block titular%}
<b>Estamos en pagina de Crear articulo desde un formulario</b>
{%endblock%}

{% block content %}
<b><p>Vanessita Culoncita!! quiero olerte el yoyo..peyoyo</p></b>
<hr/>
<h3>Crear Formulario desde django</h3>
<hr/>
<form action="{%url 'save_article'%}" method="post" autocomplete="off" >
    {% csrf_token %}
    <div class="my-3">
        <h4><label for="title">Titulo</label></h4>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Ingresa tu nombre" aria-label="Username" aria-describedby="basic-addon1"  name="title">
    </div>

    <div class="my-3">
        <h4><label for="content">Contenido</label></h4>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="content"></textarea>
    </div>

    <div class="my-3">
        <label for="public">Publicado?</label>
    </div>

    <select class="form-select" aria-label="Default select example" name="public">
        <option value="0">No</option>
        <option value="1" selected>Si</option>
    </select>
    <div class="my-3">
        <input type="submit" name="guardar" value="Guardar" class="btn btn-dark"/>
    </div>
</form>
{%endblock%}